
.bti{
    display: flex;
    justify-content: center;
    width:100%;
    height:100%;
}


.bti:hover{
     
    background: url("../Images/screen.png");
    transition: all 1s;
    width:100%;
    height:100%;
    transform: perspective(400px) rotateY(360deg);

} 
