.Dashboard-home{
    height: 38rem;
    width: 100%;
    background-color: rgb(230, 231, 229);
}

.bottles{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    

}
